%bar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: $header_height;

}

.top_bar {
  height: 50px;
  background-color: $color__secondary;
  @extend %bar-flex;
}

.bottom_bar {
  @extend %bar-flex;
}

.test1 {
  color: red;

  .test2 {
    color: green;
  }

}

