%bar-flex {
  align-items: center;
  justify-content: space-between;

  display: flex;
}

.header {
  flex-direction: column;

  position: fixed;

  display: flex;
  width: 100%;
  height: $header_height;

}

.top_bar {
  @extend %bar-flex;
  height: 50px;

  background-color: $color__secondary;
}

.bottom_bar {
  @extend %bar-flex;
}

.wrapper {
  align-items: center;

  display: flex;
}

.phone {
  align-items: center;

  display: flex;

  color: $color__font--secondary;

  &:before {
    //@include pseudoElement(20px, 'phone.svg');
    position: relative;

    margin-right: 1rem;
  }
}

.menu {
  padding: 5px;

  background-color: red;

  color: white;

  opacity: 0;


}

.menu_visible {
  opacity: 1;
}
