@font-face {
    font-family: 'Geometria';
    src: url('Geometria-ExtraBold.woff2') format('woff2'),
        url('Geometria-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria.woff2') format('woff2'),
        url('Geometria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Medium.woff2') format('woff2'),
        url('Geometria-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Bold.woff2') format('woff2'),
        url('Geometria-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-ExtraLight.woff2') format('woff2'),
        url('Geometria-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Italic.woff2') format('woff2'),
        url('Geometria-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Light.woff2') format('woff2'),
        url('Geometria-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Thin.woff2') format('woff2'),
        url('Geometria-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Heavy.woff2') format('woff2'),
        url('Geometria-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

