@import 'components/container';
@import 'components/section';
@import 'components/input';
@import 'components/buttons';
@import 'components/forms';
@import 'components/main-slider';


select {
  border: 1px solid #ccc;

  &:focus {
    outline: 0;
  }
}


