$color__primary         : #C13DD7;
$color__secondary       : #4B24A3;

$color__light           : #fff;
$color__dark            : #000;

//Indicate
$color__error           : #d23333;
$color__success         : #51d720;
//Font-color
$color__font--primary    : #000000;
$color__font--secondary  : #fff;
$color__font--hover      : $color__secondary;

//Border
$color__border--primary    : $color__primary;
$color__border--secondary  : $color__secondary ;
