$font__line-height: auto;
$font__size: 18px;
$font__weight: normal;
$font__family: 'Geometria';
$font__style: sans-serif;
$font__file-name: $font__family + '-';
$font__path: '/fonts/#{$font__family}/#{$font__file-name}';
$font__ext: (woff2, woff);
$font__types: (
                ('ExtraBold', 800, normal),
                ('Regular', normal, normal),
                ('Medium', 500, normal),
                ('Bold', bold, normal),
                ('Light', 300, normal),
                ('Thin', 100, normal),
                ('Heavy', 900, normal),
);

$header_height: 150px;
$input__font-size: $font__size;
$input__font-color: $color__font--primary;
$input__placeholder-color: gray;
$input_height: 50px;

$img_path: '~assets/img'
