button {

  padding: 0;

  border: none;

  background-color: transparent;

  color: inherit;
  font: inherit;

  cursor: pointer;

  &:hover, &:active, &:focus {
    outline: 0;
  }
}

.button-primary {
  min-width: 200px;
  min-height: 60px;

  padding: 0 25px;

  border-radius: 20px;

  background: linear-gradient(204.76deg, $color__primary 11.31%, $color__secondary_dark 153.78%);
  box-shadow: 0 0 10px rgba(187, 35, 232, .4);

  color: $color__font--secondary;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
