.main-slider {

  .slick {

    &-slider {
      max-width: 100%;
    }

    &-slide {

      div:focus {
        outline: none !important;
      }
    }

    &-dots {
      justify-content: center;

      position: relative;


      display: flex !important;

      li {
        flex-direction: row;
        align-items: center;
        justify-content: center;

        display: flex;
        width: 50px;

        button {
          width: 100%;
          height: 100%;

          &:hover {

            &:before {
              opacity: .5;
            }
          }

          &:before {
            content: '';

            width: inherit;
            height: 3px;

            padding: 0;

            border-radius: 5px 5px 0 0;

            background-color: $color__light;
            box-shadow: 0 0 10px #ac39dd;

            opacity: 1;
          }
        }
      }


    }

    &-active {

      button:before {
        background-color: #b03adc !important;
      }
    }
  }
}
