$animation_duration: .2s;

.logotype {
  max-width: 200px;
}

.link {
  position: relative;

  display: flex;
  width: 150px;
  height: 40px;

  padding: 10px;

  color: white;

  transition: all $animation_duration ease-in;

  &:hover {
    transform: scale(1.02);
  }

}

.active {
  color: red;
}
