.body {
  position: fixed;
  top: $header_height + 50px;
  left: 50%;
  z-index: z(modal);

  width: 200px;
  height: 50px;

  background-color: red;

  text-align: center;

  transform: translate(-50%,-50%);
}
