%link-style {
  color: $color__font--secondary;
  font-size: 14px;
  line-height: 22px;
}

.content {
  align-items: center;

  display: flex;
  height: 100%;
}

.dropdown {
  height: 100%;

  margin-right: 1rem;
}

.button {
  @extend %link-style;
  align-items: center;
  justify-content: space-between;

  position: relative;

  display: flex;

  height: inherit;

  padding: 0 15px;
}

.triangle {
  @include css-triangle($color__light,down,5px);
  position: relative;
  top: 2px;
  left: 13px;
}

.list {
  display: flex;
  height: inherit;
}

.link {

  align-items: center;
  justify-content: center;

  display: flex;

  padding: 0 15px;

  a {
    @extend %link-style;
    display: block;
    height: inherit;
  }

  &:hover {
    text-decoration: underline;
  }

}



