
%link-style {
  color: $color__font--secondary;
  font-size: 14px;
  line-height: 22px;
}

.content {
  align-items: center;

  display: flex;
  height: 100%;
}

.dropdown {
  height: 100%;

  margin-right: 1rem;
}

.button {
  @extend %link-style;
  align-items: center;
  justify-content: space-between;

  position: relative;

  display: flex;

  height: inherit;

  padding: 0 15px;
}

.triangle {
  @include css-triangle($color__light, down, 5px);
  position: relative;
  top: 2px;
  left: 13px;
}

.list {
  display: flex;
  height: inherit;
}

.item {
  @include navigation_link;
  align-items: center;
  justify-content: center;

  position: relative;

  display: flex;


  padding: 0 15px;

  cursor: pointer;

  &:after {
    @include breakpoint($desktop__all) {
      @include pseudoElement(100%);
      bottom: 0;
      left: 0;

      height: 3px;

      border-radius: 5px 5px 0 0;

      background-color: #b03adc;
      box-shadow: 0 0 10px #ac39dd;
    }

  }


}

.link {
  @extend %link-style;

  position: relative;

  display: block;
  height: inherit;

  opacity: 0;
}

.expandAnimate {
  @include tracking-in-expand;
}

