
.index {

  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  p {
    padding: 20px;
  }
  &__title {
    color: green;
  }

  &__test {
    color: red;
  }
}
