$animation_duration: .2s;

.logotype {
  max-width: 200px;
}
.link {
  display: flex;
  position: relative;
  padding: 10px;
  transition: all $animation_duration ease-in;
  &:hover {
    transform: scale(1.02);
  }
}
