.body {
  position: relative;

  width: 32%;
  //height: 380px;
  overflow: hidden;

  border-radius: 30px;
  margin: 10px;
}

.image {
  position: relative;

  z-index: z(bg-content);

}

.filter {
  position: absolute;
  z-index: z(bg-content);

  width: 100%;
  height: 100%;

  background: radial-gradient(205.91% 132.99% at 68.61% -9.87%, rgba(23, 64, 226, 0) 0%, #712b9c 100%);
}

.text {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: z(top-content);

  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;

  color: $color__font--secondary;
}

.title {
  font-size: 20px;
  line-height: 28px;
}

.year {
  margin-top: 10px;

  font-size: 16px;
  line-height: 24px;
}
