@mixin navigation_link_hover {
  @keyframes navigation-hover {

    0% {
      transform: translateY(3px);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  animation: {
    name: navigation-hover;
    duration: .5s;
    fill-mode: forwards;
    timing-function: ease;
  };
}

