@mixin navigation_link {

  &:after {
    transform: translateY(3px);
    opacity: 0;

    transition: all ease .5s;
  }

  &:hover {

    &:after {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &:active {

    .link{
      top: 1px;
    }
  }
}

