%bar-flex {
  align-items: center;
  justify-content: space-between;

  display: flex;
}

.header {
  flex-direction: column;

  position: fixed;
  z-index: z(header);

  display: flex;
  width: 100%;
  height: $header_height;

}

.top_bar {
  @extend %bar-flex;
  height: 50px;

  background-color: $color__secondary;
}

.bottom_bar {
  @extend %bar-flex;
}

.wrapper {
  align-items: center;

  display: flex;
}

.contacts {
  align-items: center;

  display: flex;
}

.phone {
  align-items: center;

  display: flex;

  color: $color__font--secondary;

  &:before {
    @include pseudoElement(15px, 'phone.svg');
    position: relative;

    margin-right: 5px;
  }
}

.email {
  @extend .phone;
  margin: 0 2rem;

  &:before {
    @include pseudoElement(20px, 'email.svg');
    position: relative;
  }
}

.menu {
  padding: 5px;

  background-color: red;

  color: white;

  opacity: 0;


}

.menu_visible {
  opacity: 1;
}
