$buttons_height:60px 40px;
$icons_height:60px 40px;


@mixin messenger {
  @include size(nth($buttons_height,1));

  align-items: center;
  justify-content: center;

  display: flex;

  margin-right: 1rem;

  border-radius: 20px;

  background-color: $color__secondary;

  &:hover {
    @include contact_button_hover;
  }

  @include breakpoint ($desktop__laptop) {
    @include size(nth($buttons_height,2));
    border-radius: 10px;
  }
}

.wrap {
  @include ie11() {
    margin-left: auto;
  }
  display: flex;
}

.schedule {
  flex-direction: column;
  justify-content: center;

  display: flex;

  padding: 0 2rem;
}

.buttons {
  display: flex;
}

.graphic {
  color: $color__font--secondary;
  font-size: 12px;
  line-height: 22px;

  opacity: .5;
}

.time {
  color: $color__font--secondary;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;

}

.telegram {
  @include messenger;

  &:after {
    @include pseudoElement(24px, 'telegram.svg');
    position: relative;
    top: 2px;
    left: -1px;
    @include breakpoint ($desktop__laptop) {
      width: 18px;
      height: 18px;
    }
  }

}

.viber {
  @include messenger;

  &:after {
    @include pseudoElement(28px, 'viber.svg');
    position: relative;
    @include breakpoint ($desktop__laptop) {
      width: 18px;
      height: 18px;
    }
  }

}

.call {
  @include breakpoint ($desktop__laptop) {
    height: nth($buttons_height,2);
  }
}
