.section {
  position: relative;

  display: flex;

  min-height: 100vh;

  padding-top: $header_height;

  &:after {
    @include pseudoElement(100%);
    top: 0;
    left: 0;
    z-index: z(bg-content);

    background: radial-gradient(140.09% 139.62% at 57.93% -35.69%, #1740e2 0%, #712b9c 100%);

    transform: rotate(-180deg);
  }

}

.content {
  flex-grow: 1;

  position: relative;
  z-index: z(content);

  display: flex;

  padding-top: 90px;
}

.slider {
  flex-grow: 1;

  display: flex;

  &_text {
    flex: 40%;

    padding-top: 50px;

    color: $color__font--secondary;
  }

  &_image {
    flex: 60%;

    position: relative;
  }
}

.heading {

  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
}

.description {

  max-width: 400px;

  margin: 2rem 0;

  line-height: 28px;

}
