.section {
  position: relative;
display: flex;

  min-height: 100vh;

  padding-top: $header_height;

  &:after {
    @include pseudoElement(100%);
    top: 0;
    left: 0;
    z-index: z(bg-content);

    background: radial-gradient(140.09% 139.62% at 57.93% -35.69%, #1740e2 0%, #712b9c 100%);

    transform: rotate(-180deg);
  }

}

.content {
  flex: 1;

  position: relative;
  z-index: z(content);

  display: flex;

  padding-top: 90px;
}

.slider {
  flex: 1;

  display: flex;

  &_text {
    flex: 40%;

  }

  &_image {
    position: relative;
    flex: 60%;
  }
}

.heading {
  color: $color__font--secondary;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
}

.description {

}
